---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'signup';

$base-bright-color: #28bdb3;
$base-secondary-color: #CD0A27;

// Our variables

// font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
// font-weight: 300;

$base-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-family-alternative: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-bold-font-family: 'Oswald', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-weight: 300;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

$spacing-unit:     30px;

$text-color:       #4A4A4A;

$footer-height: 100px;

//
.navbar-default {
  background-color: #000;
  font-family: $base-bold-font-family;

  .brand-link {
    color: #fff !important;
  }
}

.navbar-default-reverse {
  background-color: #fff;
  // background: url("/images/debut_light.png");
  font-family: $base-bold-font-family;
  margin-bottom: 0px;

  .brand-link {
    color: #000 !important;
  }
}

.inverse-highlight {
  background-color: $base-secondary-color;
  color: #fff;
  padding: 5px 10px;
  font-weight: normal;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #888;
  background-color: #000;

  p {
    padding-top: 20px !important;
  }

  a {
    color: #fff;
  }

  .list-contents {
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 10px;

    li {
      list-style-type: none;
      line-height: 24px;
    }

    a.post-link {
      color: #fff;
      font-family: $base-bold-font-family;
      font-size: 16px;
      font-weight: 100 !important;
      line-height: 1.0;
    }

    .post-link.coming-soon {
      color: #666;
      font-family: $base-bold-font-family;
      font-size: 16px;
      font-weight: 100 !important;
      line-height: 1.0;
    }
  }
}

h1.about {
  margin-top: 0px;
  color: $text-color;
  font-family: $base-bold-font-family;
}

.post {
  color: $text-color;
  font-family: $base-font-family;
  font-weight: 500 !important;
  font-size: 16px;
  padding-bottom: 60px;

  h1 {
    margin-top: 0px;
    color: $text-color;
    font-family: $base-bold-font-family;
    background-color: $base-bright-color;
    padding: 10px 10px;
    color: #fff;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-weight: bold;
  }
}

.list-contents {
  padding-left: 0px;

  li {
    list-style-type: none;
    line-height: 32px;

    a.post-link {
      color: #000;
      font-family: $base-bold-font-family;
      font-size: 18px;
    }

    .post-link.coming-soon {
      color: #666;
      font-family: $base-bold-font-family;
      font-size: 16px;
      font-weight: 100 !important;
      line-height: 1.0;
    }

    a.post-link.selected {
      background-color: $base-bright-color;
      padding: 5px 10px;
      color: #fff;
      text-decoration: none;
    }
  }
}

.blog-footer {
  margin-top: 40px;
  padding: 20px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

 /* red FB4B5A */
 /* gray 4A4A4A */

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.about-module {
  h4 {
    font-family: $base-bold-font-family;
  }
  padding-top: 0px;
  margin-bottom: 0px;
}

/* landing page */

.landing-hero-1 {
  padding-top: 30px;
  border-top: 5px $base-bright-color  solid;

  h2.hero-tag {
    strong {
      font-family: $base-bold-font-family;
    }
    font-family: $base-font-family;
    line-height: 1.25em;
  }
}

.intro-sections {
  padding-top: 30px;
  padding-bottom: 20px;
}

.site-sections {
  padding-bottom: 60px;

  h2 {
    font-family: $base-bold-font-family;
    font-size: 26px;
  }

  ul {
    list-style-type: none;
    padding-left: 16px;
  }

  li {
    a {
      font-family: $base-font-family-alternative;
      font-size: 24px;
      color: $base-bright-color;
    }
  }
}

#mc_embed_signup {
  background: $base-bright-color;
  clear: left;
  color: #fff;
  font: 18px $base-font-family;
}
