<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="landing-hero-1">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h2 class="hero-tag text-center">
              <strong>How To Cook Microservices</strong> (with Ruby spices) is a continuously updated collection of notes, insights and ideas about building software platforms empowered by microservices architecture with Ruby language
            </h2>
            <!-- <a href="/architecture/"><h1 class="landing-hero">Microservices Architecture</h1></a> -->
          </div>
        </div>
      </div>
    </div>
<br/><br/>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/7W-Ws3Kh_3Q?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="intro-sections">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h4>Our topics so far ...</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="site-sections">
      <div class="container">
        {% for site_section in site.sections %}
        {% assign site_section_index = forloop.index | modulo: 2 %}

          {% if site_section_index == 1 %}
            <div class="row">
              <div class="col-sm-5 col-sm-offset-1">
                <h2>{{site_section}}</h2>

                <ul>              
                  {% for post in site.posts %}
                    {% if post.sections contains site_section %}
                      <li>
                        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
          {% else %}
              <div class="col-sm-5">
                <h2>{{site_section}}</h2>

                <ul>
                {% for post in site.posts %}
                  {% if post.sections contains site_section %}
                    <li>
                      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    
    {% include footer.html %}
  </body>
</html>
