<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="landing-hero-1">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h2 class="hero-tag text-center">
              <strong>How To Cook Microservices</strong> (with Ruby spices) is a continuously updated collection of notes, insights and ideas about building software platforms empowered by microservices architecture with Ruby language
            </h2>
            <!-- <a href="/architecture/"><h1 class="landing-hero">Microservices Architecture</h1></a> -->
          </div>
        </div>
      </div>
    </div>

<br/>
<!--     <div class="intro-sections">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h2>Our topics so far ...</h2>
          </div>
        </div>
      </div>
    </div>
 -->
    <div class="site-sections">
      <div class="container">
        {% for site_section in site.sections %}
        {% assign site_section_index = forloop.index | modulo: 2 %}

          {% if site_section_index == 1 %}
            <div class="row">
              <div class="col-sm-5 col-sm-offset-1">
                <h2>{{site_section}}</h2>

                <ul>              
                  {% for post in site.posts %}
                    {% if post.sections contains site_section %}
                      <li>
                        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
          {% else %}
              <div class="col-sm-5">
                <h2>{{site_section}}</h2>

                <ul>
                {% for post in site.posts %}
                  {% if post.sections contains site_section %}
                    <li>
                      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="container">
      <div class="row" id="subscribe">
        <div class='col-sm-10 col-sm-offset-1'>
          <div id="mc_embed_signup">
            <form action="//alexkurkin.us10.list-manage.com/subscribe/post?u=9a259809c83fdfaa287808b4f&amp;id=a5c03d020a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">SUBSCRIBE TO EMAIL UPDATES</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_9a259809c83fdfaa287808b4f_a5c03d020a" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <div class="container journal-updates">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <h1>Journal Updates</h1>
        </div>
      </div>
      {% for update in site.updates reversed %}
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h3>
              <a href="{{ update.url | prepend: site.baseurl}}">
                {{forloop.index}}. {{ update.title }}
              </a>
            </h3>

            <p>{{ update.content }}</p>
            <p>{{ update.date | date: '%B %d, %Y' }}</p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
