---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <hr>

  <article class="post-content">
    {{ content }}
  </article>

  <hr/>

  <div class="row" id="subscribe">
    <div id="mc_embed_signup">
      <form action="//alexkurkin.us10.list-manage.com/subscribe/post?u=9a259809c83fdfaa287808b4f&amp;id=a5c03d020a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">HOW TO COOK MICROSERVICES EMAIL UPDATES</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_9a259809c83fdfaa287808b4f_a5c03d020a" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </div>

  <hr/>

   <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'howtocookmicroservices';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

